*{
    box-sizing:border-box;
    color: #ffffff;
    font-family: 'Open Sans','Roboto', sans-serif;
}
body{
    margin:0;
    padding:0;
    background-color:#0e0f16;
}
.header{
    background-color:#222;
    color:whitesmoke;
    font-family: 'Roboto', sans-serif;
    padding:10px;
    text-align: center;
    font-size:25px;
    user-select:none;
    cursor:text;
}
#title{
    text-align: center;
    font-size:18px;
    padding-top:30px;
}
#title>span{
    color:yellow;
}
.txt-section{
    font-size:17px;
    padding: 20px;
}
.txt-section span{
    color: #525257;
}
.current-text{
    display: inline;
}
.user-section{
    display: flex;
    justify-content: space-around;
    padding:0 10%;
}
input{
    font-size:20px;
    width: 100%;
    color:#222;
    padding: 10px;
    border-radius: 5px;
    border:2px solid #ffffff;
}
input:focus{
    outline:none;
    border:2px solid #222;
}
.result{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    font-size:18px;
}
#wrong-score{
    color:red;
}
#correct-score{
    color:yellowgreen;
}
#restart{
    position: absolute;
    width:120px;
    padding:10px;
    color: #222;
    font-size:20px;
    font-weight: 600;
    left:50%;
    transform: translate(-50%);
    border:1px solid #ffffff;
    transition: all 0.4s ease;
    margin-bottom:100px;
    display: none;
    text-align: center;
}
#restart:hover{
    background: none;
    color: #ffffff;
    font-size: 22px;
}
.color-red{
    color:red;
}
.color-blue{
    color:blue;
}


#scores{
    position: absolute;
    top:0;
    width: 100%;
    position: fixed;
    height:100%;
    display: none;
    background-color: #2222228c;
}
.score{
    position: absolute;
    background-color: #ffffff;
    z-index: 2;
    width:max-content;
    padding:100px;
    border-radius: 5px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.score h2{
    color:#222;
    font-size:15px;
}
#scoreInWord,#scoreInchar{
    color:#222;
}
.score button{
    position: absolute;
    color:#222;
    font-size:20px;
    font-weight:600;
    padding: 4px 10px;
    right:0;
    top:0;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    transition: all 0.4s cubic-bezier(0, 3.52, 1, 4.93);
    border-radius: 5px;
}
.score button:hover{
    border-color:#222;
    border-radius: 5px;
}


@media (max-width:350px){
    .score h2{
        color:#222;
        font-size:15px;
    }
    .score{
        padding: 50px 20px;
    }
    .current-text{
        height:100px;
        overflow: hidden;
    }
    #restart{
        font-size:15px;
    }
    #restart:hover{
        font-size: 15px;
    }
}
